{% extends 'base.html' %}
{% block content %}

{% for msg in messages %}
<div class="toast-container position-fixed end-0 p-1">
    <div id="liveToast" class="toast-body text-bg-success p-3 rounded-2">
        {{msg}}
    </div>
</div>
{% endfor %}

<div class="col-sm-11 col-md-10 mx-auto">

    <div class="row justify-content-start text-bg-warning text-center rounded-2 my-2">
        <button type="button" class="col-auto btn btn-warning text-success rounded-5 ms-1"
                onClick="javascript:history.go(-1);"><i class="fa-solid fa-angles-left"></i>
        </button>
        <h3 class="col-auto mx-auto text-success mt-2">{{bh.name}}</h3>
    </div>

    <div class="my-4 mx-auto" id="mapX" style="height: 40vh; width: 100%"></div>

    <div class="card my-2">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for bh_picture in bh.picture_set.all %}
                <div class="carousel-item {% if forloop.last %}active{% endif %}">
                    <a href="{{bh_picture.picture.url}}">
                        <img src="{{bh_picture.picture.url}}"
                             class="card-img-top img-fluid rounded"
                             alt="...">
                    </a>
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="card-body">
            <h4 class="card-text fw-bold text-center text-danger">PHP {{bh.price}}</h4>
            <h5 class="card-text">Location: {{bh.location}}</h5>
            <h5 class="card-text">Description: {{bh.description|linebreaksbr}}</h5>
            <h5 class="card-text">Contact: {{bh.phone}}</h5>
            <h5 class="card-text">Owner: {{bh.owner}}</h5>
        </div>


        {% if request.user.is_superuser %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group p-2">
                <select class="form-select" name="admin_approval" aria-label="Default select example">
                    <option selected>{{status}}</option>
                    {% if status == 'APPROVED' %}
                    <option>DENIED</option>
                    {% else %}
                    <option>APPROVED</option>
                    {% endif %}

                </select>
                <button type="submit" class="btn btn-sm btn-success">UPDATE</button>
            </div>
        </form>
        {% endif %}

    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv2n4qpTGjTb3LEriFYvzRmcw0kIkI0FU&libraries=places&callback=initMapX"
        async defer></script>

<script>
function initMapX() {

    // Variables
    var mapX = new google.maps.Map(document.getElementById("mapX"));
    var infoWindowX = new google.maps.InfoWindow();
    var directionsServiceX = new google.maps.DirectionsService;
    var directionsDisplayX = new google.maps.DirectionsRenderer;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            latlangX = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            mapX.setCenter(latlangX);
            mapX.setZoom(10);

            infoWindowX.setPosition(latlangX);
            infoWindowX.setContent("My location.");
            infoWindowX.open(mapX);
        });
    }


    addMarkerX({lat: {{bh.latitude}}, lng: {{bh.longitude}}}, '{{bh.name}}');


    function addMarkerX(coords, content) {
        const markerX = new google.maps.Marker({
            position: coords,
            map: mapX,
        });
        var infoWindow2X = new google.maps.InfoWindow({
            content: content
        });

        google.maps.event.addListener(markerX, 'click', function() {
            infoWindow2X.open(mapX, markerX);

            directionsServiceX.route({
                origin: latlangX,
                destination: coords,
                travelMode: 'DRIVING'
            }, function(response, status) {
                    if (status === 'OK') {
                        directionsDisplayX.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                }
            );
        });
    }
    directionsDisplayX.setMap(mapX);
}
window.initMapX = initMapX;

</script>

{% endblock %}
