{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center mt-3">
    <div class="card py-1" style="width: 35rem;">
        <div class="card mt-1 mx-1" style="background-color: #FDFD96">
            <h4 class="card-header text-success text-center">Update Boarding House</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'update-bh' bh.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Boarding House Name</label>
                    <input type="text" class="form-control" value="{{bh.name}}" id="name" name="name" placeholder="ex. John Boarding House"
                           required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" value="{{bh.description}}" id="description" name="description"
                              placeholder="Boarding House Description"
                              required>{{bh.description}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" value="{{bh.price}}" id="price" name="price" placeholder="Price"
                           required>
                </div>
                <div class="mb-3">
                    <label for="avail_room" class="form-label">Available Room</label>
                    <input type="number" class="form-control" value="{{bh.avail_room}}" id="avail_room" name="avail_room" placeholder="Available Room"
                           required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Contact Number</label>
                    <input type="number" class="form-control" value="{{bh.phone}}" id="phone" name="phone" placeholder="09xxxxxxxxx"
                           required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location or
                        <button type="button" class="btn btn-sm btn-success rounded-3" onclick="getLoc()">Get my
                            location
                        </button>
                    </label>
                    <input type="text" class="form-control" value="{{bh.location}}" id="location" name="location"
                           placeholder="Boarding House Location"
                           required>
                </div>
                <div class="mb-3 d-none">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="text" class="form-control" value="{{bh.latitude}}" id="latitude" name="latitude" placeholder="Latitude"
                           readonly>
                </div>
                <div class="mb-3 d-none">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="text" class="form-control" value="{{bh.longitude}}" id="longitude" name="longitude" placeholder="Longitude"
                           readonly>
                </div>
                <div class="mb-3">
                    <label for="picture" class="form-label">Picture</label>
                    {% for bh_picture in bh.picture_set.all %}
                    <a href="{{bh_picture.picture.url}}" class="btn btn-sm btn-outline-success">image {{forloop.counter}}</a>
                    {% endfor %}
                    <input type="file" class="form-control mt-1" id="picture" name="picture"
                           accept="image/png, image/gif, image/jpeg" multiple>
                </div>
                <div class="d-grid mx-2">
                    <button class="btn btn-success" type="submit" style="background-color: #77DD77; color: #000000">UPDATE BOARDING HOUSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}