{% extends 'base.html' %}
{% block content %}

{% for msg in messages %}
<div class="toast-container position-fixed end-0 p-1">
    <div id="liveToast" class="toast-body text-bg-success p-3 rounded-2">
        {{msg}}
    </div>
</div>
{% endfor %}

<div class="col-sm-12 col-md-10 mx-auto my-2">
    <div class="py-1 rounded-2 p-1 mb-1" style="background-color: #77DD77; color: #000000;">
        <text class="h5 d-inline-block fst-italic mt-1">BOARDING HOUSE MAP</text>
        <a href="{% url 'add-bh' %}" class="btn btn-sm btn-warning float-end me-1">
            ADD <i class="fa-solid fa-house-chimney-medical"></i>
        </a>
    </div>

    <div id="map" style="height: 40vh; width: 100%"></div>
</div>

<div class="col-sm-12 col-md-10 mx-auto my-2">
    <div class="py-1 rounded-2 p-1 mb-1" style="background-color: #77DD77; color: #000000;">
        <text class="h5 d-inline-block fst-italic mt-2">AVAILABLE LIST</text>
        <div class="w-50 float-end">
            <input type="search" class="form-control" id="searchInput" placeholder="Search here..."/>
        </div>
    </div>

    <ul class="list-group w-100 overflow-auto" style="max-height: 85vh" id="searchValue">
        {% for bh in boarding_houses %}
        {% if bh.admin_approval and bh.owner != request.user %}
        <li class="list-group-item list-group-item-action text-bg-light mb-1">
            <h4 class="text-center p-1 rounded-2" style="background-color: #FDFD96; color: #000000;">
                {{bh.name}}
            </h4>
            <p class="mb-1">{{bh.location}}</p>
            <h6 class="d-inline-block fw-bold mt-2">
                PHP {{bh.price}}
            </h6>
            <a href="{% url 'bh-detail' bh.id %}" class="btn btn-sm btn-success float-end">
                View Detail
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchValue li").filter(function () {
                $(this).toggle(
                    $(this).text().toLowerCase().indexOf(value) > -1
                );
            });
        });
    });
</script>

{% endblock %}
