{% extends 'base.html' %}
{% block content %}

{% for msg in messages %}
<div class="toast-container position-fixed end-0 p-1">
    <div id="liveToast" class="toast-body text-bg-success p-3 rounded-2">
        {{msg}}
    </div>
</div>
{% endfor %}

<div class="col-sm-11 col-md-10 mx-auto">

    <div class="d-flex text-center rounded-2 my-2" style="background-color: #FDFD96;">
        <h5 class="flex-grow-1 text-success mt-2">MY BOARDING HOUSE</h5>
        <a href="{% url 'add-bh' %}" class="align-items-center m-1 btn btn-sm btn-success">
            ADD <i class="fa-solid fa-house-chimney-medical"></i>
        </a>
    </div>

    <div class="row g-1">
        {% for bh in boarding_houses %}
        {% if bh.owner == request.user %}
        <div class="col-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div id="carouselExampleControls{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for bh_picture in bh.picture_set.all %}
                        <div class="carousel-item {% if forloop.last %}active{% endif %}">
                            <a href="{{bh_picture.picture.url}}">
                                <img src="{{bh_picture.picture.url}}"
                                     class="card-img-top img-fluid rounded" style="height: 18rem" alt="...">
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleControls{{forloop.counter}}"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleControls{{forloop.counter}}"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">
                    <h4 class="card-title text-center fw-bold">{{bh.name}}</h4>
                    <p class="card-text">Status:
                        {% if bh.admin_approval %}
                        <span class="text-success fst-italic">
                        APPROVED!
                        </span>
                        {% else %}
                        <span class="text-danger fst-italic">
                        Waiting for approval
                        </span>
                        {% endif %}
                    </p>

                    <div class="text-center">
                        <a href="{% url 'bh-detail' bh.id %}" class="btn btn-sm btn-primary mx-1">
                            VIEW
                        </a>
                        <a href="{% url 'edit-bh' bh.id %}" class="btn btn-sm btn-success mx-1">
                            EDIT
                        </a>
                        <button type="button" class="btn btn-sm btn-danger mx-1" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">DELETE
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete Boarding House</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete <span class="h5 text-danger">{{bh.name}}</span>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel
                        </button>
                        <a href="{% url 'delete-bh' bh.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}